@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 1em;
     background-color: rgb(232, 231, 231);
     width: 100vw;
     height: 100vh;
}

header {
    background-color: rgb(162, 162, 162);
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    border: 1px dotted black;
    flex: 0 0 200px;
}

header > nav {
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
   text-align: center;
   transition: background 450ms;
}

header > nav > a:hover{
    background-color: white;
    color: black;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.337);
}

@media screen and (max-width:698px) {
    header {
        flex-flow: column;
    }

    header > h1 {
        flex: auto;
    }
    header > nav {
        flex-flow: column;
        width: 100%;
    }
}